/* 
filename: main.css
author: nyny
created: 1 Sep
last modified: 1 Sep
description: style for all html pages 
*/

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    margin: 0;
}

body {
    background-color: #555;
    color: #E5E4E2;
}

/* nav {
    background-color: #555;
    padding: 1.5em;
} */

nav {
    padding: 1.5em; 
    background-color: #2A3439;
    /* position: fixed;
    width: 100%; */
}

nav p {
    display: inline-block;
    padding-right: 3rem;
}

nav a {
    text-decoration: none;
    color: #E5E4E2;
}

a:hover {
    text-decoration: underline;
}

.logo {
    font-family: "Betania Patmos", cursive;
    font-weight: 400;
    font-size: 30px;
    color: #F5F5F5;
}

#hero {
    min-height: 50em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

#hero p {
    font-size: 100px;
    font-weight: 600;
}

#left_text {
    text-align: right;
}

/* #normal_img {
    position: relative;
    z-index: 1;
} */

/* #hover_img {
    position: absolute;
    z-index: 0;  
} */

/* #normal_img:hover {
    visibility: hidden;
} */

footer {
    height: 15em;
    background-color: #2A3439;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#footer_text {
    width: 40%;
}

#footer_text p {
    padding-bottom: 0.5em;
}

.opacity {
    opacity: 0.7;
}

footer ul, footer li {
    list-style: none;
    padding: 0.5em;
}

li a {
    text-decoration: none;
    color: #E5E4E2;
}

/* style for enquire page */


#contact_form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em ;
}

form {
    background-color: #F5F5F5;
    padding: 2em;
    border-radius: 10px;
}

form p{
    padding: 1em;
    color: #555;
}

form h1{
    text-align: center;
    font-size: 30px;
    padding-bottom: 1em;
    color: #555;
}

label, span {
    display: inline-block;
    width: 9em;
}

.label {
    width: 4em;
}

input:not([type="checkbox"]):not([type="radio"]), select {
    width: 15em;
    margin-right: 1em;
    box-sizing: border-box;
}

fieldset {
    padding: 0;
    color: #555;
    border: 1px solid #2a34392a;
}

textarea {
    width: 40em;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button input {
    height: 2em;
    border-radius: 5px;
}

#button input:hover {
    background-color:#555;
    color: #E5E4E2;
}

/* style for about page */
.container {
    width: 80%;
    margin: 5em auto;
}

#personal {
    float: left;
}

dl {
    width: 50em;
}

dt{
    float: left;
    width: 10em;
}

dt::after {
    content: ": ";
}

figure {
    float: right;
}
figure img {
    width: 20em;
    padding: 20px;
    border-style: double;
}

figcaption {
    text-align: center;
}

#timetable {
    clear: both;
}

#timetable th, #timetable td {
    border: 1px solid;
    padding: 1em;
    background-color: #2A3439;
}

caption {
    font-weight: 800;
    font-size: 20px;
    padding: 1em 0;
}

/* style for product page */

.card {
    /* width: 80%; */
    height: 30em;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

.card img {
    width: 20em;
}

.technical_table {
    text-align: left;
}

.technical_table th {
    border-left: 3px solid;
    padding-left: 1em;
}

.technical_table td {
    padding-left: 1em;
    padding-bottom: 1em;
    width: 10em;
}

.product_info h1 {
    font: bold 2em "Plus Jakarta Sans", sans-serif;
}

.product_info h1, 
.product_info p, 
.product_info h2,
.product_info label
 {
    padding-bottom: 0.5em;
}


